<h2>Kurs wiederherstellen</h2>
<form [formGroup]="restoreCourseForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="selectedcourse"> Course </label>
    <select ng-model="selectedcourse"  formControlName="selectedcourse" autofocus="true">
        <option value="None"></option>
        <option *ngFor="let course of courses"
        [value]="course.id">
        {{course.name}}
        </option>
    </select>
  </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Wiederherstellen
        </button>
    </div>
</form>
