Host jumphost
   HostName ${jumphost_dns}
   Port ${port}
   User ec2-user
   IdentityFile /home/lukas/Desktop/DevOps/AWSTemplates/jumphost-hardening/bastionkeypair.pem
   ProxyCommand none
Host securehost
   HostName ${securehost_ip}
   User ubuntu
   IdentityFile /home/lukas/Desktop/DevOps/AWSTemplates/jumphost-hardening/bastionkeypair.pem
   ProxyCommand ssh jumphost -p ${port} -W %h:%p