{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Metadata": {
        "AWS::CloudFormation::Designer": {
            "766180e3-b0d5-422d-8406-6afb79f6e9f4": {
                "size": {
                    "width": 450,
                    "height": 370
                },
                "position": {
                    "x": 480,
                    "y": -440
                },
                "z": 1,
                "embeds": [
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c739e67a-cf89-40a8-a07c-abb79b652c6b",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2"
                ]
            },
            "97c27e3a-f4de-4265-9c3c-74b2c42b79f2": {
                "size": {
                    "width": 130,
                    "height": 150
                },
                "position": {
                    "x": 510,
                    "y": -410
                },
                "z": 2,
                "parent": "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                "embeds": [
                    "77fda4e5-5738-4d38-8fe9-6335b77b7887"
                ],
                "iscontainedinside": [
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4"
                ]
            },
            "77fda4e5-5738-4d38-8fe9-6335b77b7887": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 540,
                    "y": -380
                },
                "z": 3,
                "parent": "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                "embeds": [],
                "iscontainedinside": [
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2",
                    "97c27e3a-f4de-4265-9c3c-74b2c42b79f2"
                ],
                "dependson": [
                    "d3e4ba0e-c8fc-4e3e-a364-52080418b68e"
                ]
            },
            "c739e67a-cf89-40a8-a07c-abb79b652c6b": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 540,
                    "y": -160
                },
                "z": 2,
                "parent": "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                "embeds": [],
                "iscontainedinside": [
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4"
                ]
            },
            "c43a34bc-775e-47da-a3b1-0046ce47ebe6": {
                "size": {
                    "width": 130,
                    "height": 150
                },
                "position": {
                    "x": 750,
                    "y": -410
                },
                "z": 2,
                "parent": "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                "embeds": [
                    "d3e4ba0e-c8fc-4e3e-a364-52080418b68e"
                ],
                "iscontainedinside": [
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4",
                    "766180e3-b0d5-422d-8406-6afb79f6e9f4"
                ]
            },
            "d3e4ba0e-c8fc-4e3e-a364-52080418b68e": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 790,
                    "y": -370
                },
                "z": 3,
                "parent": "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                "embeds": [],
                "iscontainedinside": [
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6",
                    "c43a34bc-775e-47da-a3b1-0046ce47ebe6"
                ],
                "dependson": [
                    "c1cff4f3-9c35-4e6f-ae6c-43221dc60d0d"
                ]
            },
            "c1cff4f3-9c35-4e6f-ae6c-43221dc60d0d": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 1210,
                    "y": -310
                },
                "z": 0,
                "embeds": []
            },
            "6dfb9a6f-96e0-4838-a066-71f152865aa8": {
                "source": {
                    "id": "766180e3-b0d5-422d-8406-6afb79f6e9f4"
                },
                "target": {
                    "id": "c1cff4f3-9c35-4e6f-ae6c-43221dc60d0d"
                },
                "z": 1
            },
            "a166f48c-8e9b-4283-af82-92d338928497": {
                "source": {
                    "id": "c43a34bc-775e-47da-a3b1-0046ce47ebe6"
                },
                "target": {
                    "id": "97c27e3a-f4de-4265-9c3c-74b2c42b79f2"
                },
                "z": 2
            },
            "9c151793-cafc-4ba4-af06-436afa93def6": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 250,
                    "y": -380
                },
                "z": 0,
                "embeds": []
            },
            "c158047e-65c5-49e4-8398-6ff4981b7fc7": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 370,
                    "y": -380
                },
                "z": 0,
                "embeds": [],
                "isassociatedwith": [
                    "9c151793-cafc-4ba4-af06-436afa93def6"
                ]
            },
            "3fe43f10-68bd-4286-9789-46d955aba265": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 370,
                    "y": -210
                },
                "z": 0,
                "embeds": []
            },
            "2dde79de-7c7e-456c-ab9f-933e78ae2b01": {
                "size": {
                    "width": 60,
                    "height": 60
                },
                "position": {
                    "x": 250,
                    "y": -210
                },
                "z": 0,
                "embeds": [],
                "isassociatedwith": [
                    "3fe43f10-68bd-4286-9789-46d955aba265"
                ]
            }
        },
        "AWS::CloudFormation::Interface": {
            "ParameterGroups": [
                {
                    "Label": {
                        "default": "EC2 SetUp"
                    },
                    "Parameters": [
                        "InstanceTypeParameter",
                        "IPLocation"
                    ]
                },
                {
                    "Label": {
                        "default": "S3 SetUp"
                    },
                    "Parameters": [
                        "CreateS3"
                    ]
                },
                {
                    "Label": {
                        "default": "Monitoring"
                    },
                    "Parameters": [
                        "LogGroupName"
                    ]
                }
            ],
            "ParameterLabels": {
                "InstanceTypeParameter": {
                    "default": "Enter t2.micro, t2.nano, t2.small. Default is t2.micro."
                },
                "IPLocation": {
                    "default": " The IP address range that can be used to Connect via Port 80 to the EC2 instances."
                },
                "LogGroupName": {
                    "default": "The Name of the CloudWatch LogGroup to log sessions into. The same Group should be as preffered loggroup in sessionsmanager."
                },
                "CreateS3": {
                    "default": "Select whether to create S3 Bucket or not."
                }
            }
        }
    },
    "Parameters": {
        "InstanceTypeParameter": {
            "Type": "String",
            "Default": "t2.micro",
            "AllowedValues": [
                "t2.micro",
                "t3.micro",
                "t3a.micro",
                "t2.nano",
                "t3.nano",
                "t3a.nano",
                "t2.small",
                "t3.small",
                "t3a.small"
            ]
        },
        "IPLocation": {
            "Type": "String",
            "MinLength": "9",
            "MaxLength": "18",
            "Default": "0.0.0.0/0",
            "AllowedPattern": "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})/(\\d{1,2})",
            "ConstraintDescription": "must be a valid IP CIDR range of the form x.x.x.x/x."
        },
        "LogGroupName": {
            "Type": "String",
            "Default": "ssmlog",
            "AllowedPattern": ".+"
        },
        "CreateS3": {
            "Default": false,
            "AllowedValues": [
                true,
                false
            ],
            "Type": "String"
        }
    },
    "Conditions": {
        "CreateS3": {
            "Fn::Equals": [
                {
                    "Ref": "CreateS3"
                },
                true
            ]
        }
    },
    "Resources": {
        "VPC": {
            "Type": "AWS::EC2::VPC",
            "Properties": {
                "CidrBlock": "10.0.0.0/16",
                "EnableDnsHostnames": true,
                "EnableDnsSupport": true
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "766180e3-b0d5-422d-8406-6afb79f6e9f4"
                }
            }
        },
        "Subnet": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "CidrBlock": "10.0.1.0/24",
                "MapPublicIpOnLaunch": true,
                "VpcId": {
                    "Ref": "VPC"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "97c27e3a-f4de-4265-9c3c-74b2c42b79f2"
                }
            }
        },
        "WebServer": {
            "Type": "AWS::EC2::Instance",
            "Properties": {
                "ImageId": "ami-0cc0a36f626a4fdf5",
                "InstanceType": {
                    "Ref": "InstanceTypeParameter"
                },
                "IamInstanceProfile": {
                    "Ref": "SSMEC2Profile"
                },
                "UserData": {
                    "Fn::Base64": {
                        "Fn::Join": [
                            "\n",
                            [
                                "#!/bin/sh",
                                "sudo apt-get update && sudo apt-get install -y apache2",
                                "sudo service apache2 start",
                                "echo \"<html><body><h1>Awesome !!!</h1>\" > /var/www/html/index.html",
                                "echo \"</body></html>\" >> /var/www/html/index.html",
                                "sudo service apache2 reload",
                                ""
                            ]
                        ]
                    }
                },
                "NetworkInterfaces": [
                    {
                        "DeviceIndex": "0",
                        "SubnetId": {
                            "Ref": "Subnet"
                        },
                        "GroupSet": [
                            {
                                "Ref": "WebServerSecurityGroup"
                            }
                        ]
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "77fda4e5-5738-4d38-8fe9-6335b77b7887"
                }
            },
            "DependsOn": [
                "WebServerRoute"
            ]
        },
        "WebServerSecurityGroup": {
            "Type": "AWS::EC2::SecurityGroup",
            "Properties": {
                "GroupDescription": "Allow http and https to client host",
                "SecurityGroupIngress": [
                    {
                        "IpProtocol": "tcp",
                        "FromPort": "80",
                        "ToPort": "80",
                        "CidrIp": {
                            "Ref": "IPLocation"
                        }
                    }
                ],
                "VpcId": {
                    "Ref": "VPC"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "c739e67a-cf89-40a8-a07c-abb79b652c6b"
                }
            }
        },
        "WebServerRouteTable": {
            "Type": "AWS::EC2::RouteTable",
            "Properties": {
                "VpcId": {
                    "Ref": "VPC"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "c43a34bc-775e-47da-a3b1-0046ce47ebe6"
                }
            }
        },
        "WebServerRoute": {
            "Type": "AWS::EC2::Route",
            "Properties": {
                "DestinationCidrBlock": "0.0.0.0/0",
                "RouteTableId": {
                    "Ref": "WebServerRouteTable"
                },
                "GatewayId": {
                    "Ref": "WebServerInternetGateway"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "d3e4ba0e-c8fc-4e3e-a364-52080418b68e"
                }
            },
            "DependsOn": [
                "WebServerInternetGateway"
            ]
        },
        "WebServerInternetGateway": {
            "Type": "AWS::EC2::InternetGateway",
            "Properties": {},
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "c1cff4f3-9c35-4e6f-ae6c-43221dc60d0d"
                }
            }
        },
        "VPCGateway": {
            "Type": "AWS::EC2::VPCGatewayAttachment",
            "Properties": {
                "VpcId": {
                    "Ref": "VPC"
                },
                "InternetGatewayId": {
                    "Ref": "WebServerInternetGateway"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "6dfb9a6f-96e0-4838-a066-71f152865aa8"
                }
            }
        },
        "SubnetRouteTable": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": {
                    "Ref": "WebServerRouteTable"
                },
                "SubnetId": {
                    "Ref": "Subnet"
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "a166f48c-8e9b-4283-af82-92d338928497"
                }
            }
        },
        "SSMRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
                "RoleName": {
                    "Fn::Join": [
                        "-",
                        [
                            {
                                "Ref": "AWS::StackName"
                            },
                            "ssm-ec2"
                        ]
                    ]
                },
                "AssumeRolePolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "ec2.amazonaws.com",
                                    "s3.amazonaws.com"
                                ]
                            },
                            "Action": [
                                "sts:AssumeRole"
                            ]
                        }
                    ]
                },
                "ManagedPolicyArns": [
                    "arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore"
                ],
                "Policies": [
                    {
                        "PolicyName": "LogPolicy",
                        "PolicyDocument": {
                            "Version": "2012-10-17",
                            "Statement": [
                                {
                                    "Action": [
                                        "logs:CreateLogStream",
                                        "logs:DescribeLogStreams",
                                        "logs:PutLogEvents"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": {
                                        "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:${LogGroupName}:*"
                                    }
                                },
                                {
                                    "Action": [
                                        "logs:CreateLogGroup",
                                        "logs:DescribeLogGroups"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": {
                                        "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:*"
                                    }
                                }
                            ]
                        }
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "9c151793-cafc-4ba4-af06-436afa93def6"
                }
            }
        },
        "SSMEC2Profile": {
            "Type": "AWS::IAM::InstanceProfile",
            "Properties": {
                "InstanceProfileName": {
                    "Fn::Join": [
                        "-",
                        [
                            {
                                "Ref": "AWS::StackName"
                            },
                            "ssm-ec2-profile"
                        ]
                    ]
                },
                "Roles": [
                    {
                        "Ref": "SSMRole"
                    }
                ]
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "c158047e-65c5-49e4-8398-6ff4981b7fc7"
                }
            }
        },
        "S3Bucket": {
            "Condition": "CreateS3",
            "Type": "AWS::S3::Bucket",
            "Properties": {
                "BucketName": {
                    "Fn::Join": [
                        "-",
                        [
                            {
                                "Ref": "AWS::StackName"
                            },
                            "bucket"
                        ]
                    ]
                },
                "BucketEncryption": {
                    "ServerSideEncryptionConfiguration": [
                        {
                            "ServerSideEncryptionByDefault": {
                                "SSEAlgorithm": "AES256"
                            }
                        }
                    ]
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "3fe43f10-68bd-4286-9789-46d955aba265"
                }
            }
        },
        "S3BucketPolicy": {
            "Condition": "CreateS3",
            "Type": "AWS::S3::BucketPolicy",
            "Properties": {
                "Bucket": {
                    "Ref": "S3Bucket"
                },
                "PolicyDocument": {
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "AWS": {
                                    "Fn::GetAtt": [
                                        "SSMRole",
                                        "Arn"
                                    ]
                                }
                            },
                            "Action": [
                                "s3:ListBucket"
                            ],
                            "Resource": {
                                "Fn::Sub": "arn:aws:s3:::${S3Bucket}"
                            }
                        },
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "AWS": {
                                    "Fn::GetAtt": [
                                        "SSMRole",
                                        "Arn"
                                    ]
                                }
                            },
                            "Action": [
                                "s3:GetObject",
                                "s3:Putobject"
                            ],
                            "Resource": {
                                "Fn::Sub": "arn:aws:s3:::${S3Bucket}/*"
                            }
                        }
                    ]
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Designer": {
                    "id": "2dde79de-7c7e-456c-ab9f-933e78ae2b01"
                }
            }
        }
    },
    "Outputs": {
        "PublicDNS": {
            "Value": {
                "Fn::GetAtt": [
                    "WebServer",
                    "PublicDnsName"
                ]
            },
            "Description": "WebServer's PublicDNS"
        }
    }
}