
<h2>{{task.name}}</h2>
<br/>
<div class="border">
  <div *ngFor="let taskline of tasklines">
    <span *ngFor="let highlight of split(taskline)" [ngStyle]="sqlHighlighter(highlight)">{{highlight}}</span>
  </div>
</div>
<br/>
<div>
  <h4>Feedback</h4>
  <ul>
    <li *ngFor="let f of this.feedback">{{f}}
  </ul>
</div>
<form [formGroup]="tasksolvingform" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label for="solvinginput">Your turn</label>
    <textarea name="solvinginput" class="form-control" formControlName="solvinginput" id="solvinginput" cols="40" rows="5" required></textarea>
    <div *ngIf="submitted && f.solvinginput.errors" class="invalid-feedback">
        <div *ngIf="f.solvinginput.errors.required">Input is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Submit
    </button>
  </div>
</form>
<button class="btn btn-primary" (click)="pauseTask()">
  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Pause task
</button>
<button *ngIf="task.previousTask" class="btn btn-primary" (click)="previousTask()">
  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Previous Task
</button>
<button *ngIf="task.nextTask" class="btn btn-primary" (click)="nextTask()">
  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Next Task
</button>
